.Read {
  width: 48%;
  height: 85vh;
  border: 1px solid #666;
}

.Read__item {
  padding: 30px;
}

.Read__list {
  margin-bottom: 30px;
}

.Read__list .username {
  font-size: 20px;
  padding-bottom: 15px;

  font-weight: 600;
}

.Read__list .title {
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.Read__list .content {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.Read__list .createAt {
  color: #999;
}
.Read__btns {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.Read__btns button {
  width: 100px;
  height: 45px;
  margin-right: 30px;
}
