@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Edit {
  display: flex;
  flex-direction: column;
  position: relative;
}

.createTitle,
.createContent {
  border: none;
  background-color: #f7f7f7;
  border-radius: 15px;
  font-family: "GmarketSansLight";
  padding: 20px;
  color: #000;
  font-size: 18px;
}
input:focus {
  outline: 2px solid rgb(1, 163, 1);
}
textarea:focus {
  outline: 2px solid rgb(1, 163, 1);
}
.createTitle {
  height: 50px;
}

.createContent {
  margin-top: 20px;
  height: 300px;
}

.saveBtn {
  font-family: "GmarketSansBold";
  position: absolute;
  right: 0;
  margin-top: 50px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
