@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 75%;
  margin: 0 auto;
}

header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: end;
}

.logoTitle {
  font-size: 54px;
  text-align: center;
  font-family: "GmarketSansBold";
  color: #000;
  text-decoration-style: none;
  margin-bottom: 50px;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

/* Basicbutton css */

.Basicbutton {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "GmarketSansMedium";
  cursor: pointer;
}

.Basicbutton_edit {
  background-color: rgb(1, 163, 1);
  color: #fff;
  margin-right: 20px;
}

/* button css */
.circleButton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-family: "GmarketSansMedium";
  cursor: pointer;
}

.circleButton.delete {
  background-color: rgb(1, 163, 1);
  color: #fff;
  margin-right: 15px;
}

.circleButton.update {
  background-color: rgb(51, 93, 207);
  color: #fff;
}

.circleButton.cancel {
  margin-right: 15px;
}

.circleButton.append {
  background-color: rgb(1, 163, 1);
  color: #fff;
}
